<% require 'open-uri' %>

<h2><% rss_news = SimpleRSS.parse open('http://feeds.reuters.com/reuters/TopNews') %><h2>

<h2><%= @rss_news.channel.title  %></h2>
<% title = @rss_news.channel.title %>

<ul>
  <li><% headline1 = @rss_news.entries.first.title %>
  <%= link_to "#{headline1}", @rss_news.items.first.link %>

  <li><% headline2 = @rss_news.entries.second.title %>
  <%= link_to "#{headline2}", @rss_news.items.second.link %>

  <li><% headline3 = @rss_news.entries.third.title %>
  <%= link_to "#{headline3}", @rss_news.items.third.link %>

  <li><% headline4 = @rss_news.entries.fourth.title %> 
  <%= link_to "#{headline4}", @rss_news.items.fourth.link %>

  <li><% headline5 = @rss_news.entries.fifth.title %> 
  <%= link_to "#{headline5}", @rss_news.items.fifth.link %>

  <li><% headline_last = @rss_news.entries.last.title %> 
  <%= link_to "#{headline_last}", @rss_news.items.last.link %>
</ul>

<% if current_user %>
  <h5><%= link_to "Edit Your Profile", "/users/#{current_user.id}/edit"  %></h5>
<% end %> 