<% require 'open-uri' %>

<% rssEntertainment = SimpleRSS.parse open('http://feeds.reuters.com/reuters/entertainment') %>

<h2><%= rssEntertainment.channel.title  %></h2>
<ul>
  <li><% entertainment1 = rssEntertainment.entries.first.title %> 
  <%= link_to "#{entertainment1}", rssEntertainment.items.first.link %>

  <li><% entertainment2 = rssEntertainment.entries.second.title %>
  <%= link_to "#{entertainment2}", rssEntertainment.items.second.link %>

  <li><% entertainment3 = rssEntertainment.entries.third.title %>
  <%= link_to "#{entertainment3}", rssEntertainment.items.third.link %>

  <li><% entertainment4 = rssEntertainment.entries.fourth.title %>
  <%= link_to "#{entertainment4}", rssEntertainment.items.fourth.link %>

  <li><% entertainment5 = rssEntertainment.entries.fifth.title %>
  <%= link_to "#{entertainment5}", rssEntertainment.items.fifth.link %>

  <li><% entertainment_last = rssEntertainment.entries.last.title %>
  <%= link_to "#{entertainment_last}", rssEntertainment.items.last.link %>
</ul>