<% require 'open-uri' %>

<body>
<% rssTopNews = SimpleRSS.parse open('http://feeds.reuters.com/reuters/topNews') %>

<h2><%= rssTopNews.channel.title  %></h2>
<ul>
  <li><% headline = rssTopNews.entries.first.title %> 
  <%= link_to "#{headline}", rssTopNews.items.first.link %>

  <li><% headline = rssTopNews.entries.second.title %>
  <%= link_to "#{headline}", rssTopNews.items.second.link %>

  <li><% headline = rssTopNews.entries.third.title %>
  <%= link_to "#{headline}", rssTopNews.items.third.link %>
</ul>

<% rssSports = SimpleRSS.parse open('http://feeds.reuters.com/reuters/sportsNews') %>

<h2><%= rssSports.channel.title  %></h2>
<ul>
  <li><% headline = rssSports.entries.first.title %> 
  <%= link_to "#{headline}", rssSports.items.first.link %>

  <li><% headline = rssSports.entries.second.title %>
  <%= link_to "#{headline}", rssSports.items.second.link %>

  <li><% headline = rssSports.entries.third.title %>
  <%= link_to "#{headline}", rssSports.items.third.link %>
</ul>


</body>
