<div>
    Want News?
    <%= radio_button_tag(:news_subscription, true) %>
    <%= label_tag(:news_subscription, "NEWS") %>
    <%= radio_button_tag(:news_subscription, false) %>
    <%= label_tag(:news_subscription, "No NEWS") %>
  </div>

  <div>
    Want Sports Information?
    <%= radio_button_tag(:sports_subscription, true) %>
    <%= label_tag(:sports_subscription, "SPORTS") %>
    <%= radio_button_tag(:sports_subscription, false) %>
    <%= label_tag(:sports_subscription, "No SPORTS") %>
  </div>

  <div>
    Want Weather Information?
    <%= radio_button_tag(:weather, true) %>
    <%= label_tag(:weather, "WEATHER") %>
    <%= radio_button_tag(:weather, false) %>
    <%= label_tag(:weather, "No WWEATHER") %>
  </div>