<%= form_tag "/users/#{@user.id}", method: :patch do %>

  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @user.first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @user.last_name %>
  </div>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username, @user.username %>
  </div>
  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city, @user.city %>
  </div>
  <div>
    <%= label_tag :state %>
    <%= text_field_tag :state, @user.state %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, @user.email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= text_field_tag :password, @user.password %>
  </div>
  <div>
    <%= label_tag :password_confirmation %>
    <%= text_field_tag :password_confirmation, @user.password_confirmation %>
  </div>
  <br>
  <h2>Your Subscriptions</h2>
  
  <%= render partial: "form" %>

  <%= submit_tag 'Update Info' %>
  
<% end %>