<h1>Signally SignUp</h1>

<%= form_for :user, url: '/users' do | f | %>
  First Name: <%= f.text_field :first_name, :maxlength=>"30" %><br>
  Last Name: <%= f.text_field :last_name %><br>
  Username: <%= f.text_field :username %><br>
  City: <%= f.text_field :city %><br>
  State: <%= f.text_field :state %><br>
  <br>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br><br>
  <h2>Your Subscriptions</h2>
  News (y/n): <%= f.text_field :news_subscription %><br>
  Sports (y/n): <%= f.text_field :sports_subscription %><br>
  Weather (y/n): <%= f.text_field :weather %><br>
  
  <%= f.submit "Submit" %>

<% end %>